@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
* {
    font-family: 'Bangers', cursive;
}


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(30, 34, 36);
   
}


main{
    width:  100vw;
    height: 100vh;
    background-color: blueviolet;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;

}

.container {
    width: 100vw;

}
#top{
    height: 20%;
    background-image: url(marvel.gif);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#message{
    font-size: 5rem;
    transition: 500ms ease-in;
}

#refresh-button{
    background-color: black;
    position: absolute;
    left: 0%;
    margin-left: 1rem;
}
#refresh{
    width: 4rem;
    transition: 500ms;
    cursor: pointer;
    fill: white;
}
#refresh:hover{
    transform: rotate(360deg);
}
#middle{
    height: 60%;
    background-image: url(SlipperyHelpfulFrenchbulldog-size_restricted.gif);
    background-position: center;
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 0 1em;
    
}

.array {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    gap: 0.5em;
    background-color: blueviolet;
    height: 85%;
    padding: 0 0.5em;
}
.box {
    background-color: chartreuse;
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}
.box:hover{
    background-color: coral;

}
#bottom{
    height: 20%;
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.button,
.input{
    height: fit-content;
    font-size: 1.5rem;
    padding: 0.5em;
    border-radius: 30px;
}
